$color-faded-text: #888;
$color-faded-text-1: #444;
$color-inverse-1: #eee;
$color-inverse-2: #e5e6e7;
$brand-color-light: #d1be5f;
$brand-color-dark: #8C7D33;
$default-font-stack: system-ui,Lato, Roboto, Arial,  Sans-serif, FontAwesome;
$bg-color-inverse: #202020;
$border-light: 1px solid rgba(200, 200, 211, 0.5);
$color-grey: #343434;

html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $default-font-stack;
}

.services a {
    color: $brand-color-light;
    &:hover {
        background-color: $brand-color-dark;
        color: $color-inverse-1;
    }
}
.b-link-inverse {
    color: $brand-color-light;
    &:hover {
        background-color: $brand-color-dark;
        color: $color-inverse-1;
    }
}
.b-link {
    color: $brand-color-dark;
    &:hover {
        background-color: $brand-color-light;
        color: $color-inverse-2;
    }
}
.b-link-nobg {
   color: $brand-color-dark; 
    &:hover {
        color: $color-grey;
    }
}
.logo-title {
	font-weight: 700;
}
.logo-subtitle {
	color: $color-faded-text;
    font-size: 1rem;
    
}

.logo-img {
	max-width: 50px;
}
.brand-icon {
    max-width: 90px;
}

.brand-button {
	color: $brand-color-light;
    border: 1px solid $brand-color-light;
}

.brand-color-dark {
    color: $brand-color-dark;
}
.brand-color-light {
	color: $brand-color-light;
}
.main {
    height: 100%;
}
.hero {
    min-height: 500px;
    min-height: 80vh;
    width: 100%;
    color: $color-inverse-1;
    background-color: $bg-color-inverse;
}

.full-row{
   height: 100%;
}
.faded-text-1 {
	color: $color-faded-text-1;
}

.services .list-group-item{
	padding-top: 0;
    padding-bottom: 2px;
    border: 0;
    color: $color-faded-text;
    &:before {
        content: "\f00c";
        font-weight: 700;
    }
    
}

.services, .services .list-group-item{
	background: $bg-color-inverse;
    color: $color-inverse-1;
}
.service-border {
	border-bottom: $border-light;
}
.services .brand-icon{
	    display: none;
    }
@media (min-width: 768px){
.service-border  {
	border-left: $border-light;
}
    .services .brand-icon{
	    display: block;
    }

}
