$color-faded-text: #888;
$color-faded-text-1: #444;
$brand-color-light: #d1be5f;
$brand-color-dark: #8C7D33;
$default-font-stack: Lato, Ubuntu, FontAwesome, Sans-serif;

html {
    height: 100%;
    font-family: $default-font-stack;
}
body {
    height: 100%;
}
.logo-title {
	font-weight: 700;
}
.logo-subtitle {
	color: $color-faded-text;
    font-size: 1rem;
}

.logo-img {
	max-width: 50px;
}

.brand-button {
	color: $brand-color-light;
    border: 1px solid $brand-color-light;
}

.brand-color-dark {
    color: $brand-color-dark;
}
.main {
    height: 100%;
}
.hero {
    min-height: 500px;
    min-height: 80vh;
    width: 100%;
    color: #eee;
    background-color: #202020;
}

.full-row {
   height: 100%;
}
.faded-text-1 {
	color: $color-faded-text-1;
}

.services .list-group-item{
	padding-top: 0;
    padding-bottom: 2px;
    border: 0;
    color: $color-faded-text;
    &:before {
        content: "* ";
        font-weight: 700;
    }
    
}

.services .list-group {
    list-style-type: square;
}
.services h4{
	margin-top: 1rem;
}